body{
    font-family: 'Baloo 2';
}
.logo {
    width: 250px;
    height: 130px;
}

.lg {
    width: 280px;
    height: 145px;
}

.navbar {
    font-family: "Lato", "Arial", sans-serif;
    display: grid;
    grid-column: 2/4;
    -moz-box-shadow: 4px 4px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888;
    box-shadow: 4px 4px 5px #888888;
}

.nav_list {
    display: flex;
    list-style: none;
    font-size: 1.6em;
    border-radius: 4px;
    margin: 0;

    align-items: center;
    justify-content: center;
}

/* .home {
    margin-right: inherit;
} */

li {
    padding: 0.2em 1.3em 0.2em 1.3em;
}

a {
    color: #636A70;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s linear;
}

a:hover {
    -webkit-box-shadow: rgba(0,0,0, 0.20) 0px 5px 15px, inset rgba(0,0,0, 0.15) 0px 0px 2px;
    -moz-box-shadow: rgba(0,0,0, 0.20) 0px 5px 15px, inset rgba(0,0,0, 0.15) 0px 0px 2px;
    -o-box-shadow: rgba(0,0,0, 0.20) 0px 5px 15px, inset rgba(0,0,0, 0.15) 0px 0px 2px;
    box-shadow: rgba(0,0,0, 0.20) 0px 5px 15px, inset rgba(0,0,0, 0.15) 0px 0px 2px;
    border-radius: 1px;
}

.container {
    display: grid;
    grid-gap: 20px;
}




/*book*/

.byj{
    color:black;
    font-size: 40px;
    font-weight: 700;

}
.book {
    color: black;
   text-align: center;
    /* border: solid 4px #640000; */
    /* background-image: linear-gradient(to top right,#26afeb, #26afeb  70%);   */
     /* #4ed8f7; */
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    grid-column: 1/2;
    grid-row: 2/4;
    border-radius: 4px;
    -moz-box-shadow: 4px 4px 5px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888;
    box-shadow: 4px 4px 5px #888888;
}

input {
    cursor: pointer;
    text-align: center;
    width: auto;
    font-family:  sans-serif;
    padding: 10px 10px;
    border: none;
    box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
    border-radius: 4px;
    background-color: white;
  }

select {
    cursor: pointer;
    width: auto;
    font-family:  sans-serif;
    padding: 10px 10px;
    border: none;
    box-sizing: border-box;
   border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
    border-radius: 4px;
    background-color: white;
  }


/*COVER*/
.banner {
    display: flex;
    flex-wrap: wrap;
    height: 390px;
    width: auto;
    font-size: 10em;
    align-content: center;
    justify-content: stretch;
    grid-column: 2/4;
    grid-row: 2/3;
    border-radius: 4px;
    -moz-box-shadow: 4px 4px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888;
    box-shadow: 4px 4px 5px #888888;
    transition: all 0.8s;
}

.banner:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}


.bn {
    height: 390.6px;
    width: 1235px;
    transition: all 1s;
}

/* .bn:hover {
    transform: scale(1.1);
} */

/* .bm {
    height: 390.6px;
    width: 600px;
    transition: all 1s;
} */

/* .bm:hover {
    transform: scale(1.1);
} */



/*GRID*/

.grid {
    display: grid;
    height: 320px;
    width: auto;
    grid-column: 2/4;
    grid-row: 3/4;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.box>img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box {
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(to top right, #4ed8f7, #26afeb 70%);*/
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.4s linear;
    -moz-box-shadow: 4px 4px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888;
    box-shadow: 4px 4px 5px #888888;
}

.box:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}


.alte{
    position:relative;
    padding:0;
    width: 100%;
    height: 100%;
    display:block;
    cursor:pointer;
    overflow:hidden;
    }
    .content {
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:0;
    left:0;
    color:white;
    background-color:rgba(167, 174, 206,0.55);
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
    text-align:center;
    }
    .alte .content:hover {
         opacity:1; }      
    .alte .content .text {
    height:0;
    opacity:0;
    font-weight: 400;
    transition-delay: 0s;
    transition-duration: 0.4s;
    }
    .alte .content:hover .text {
    opacity:1;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    }

footer {
    text-align: center;
    grid-column: 1/4;
}

hr{
    
    width: 85%;
    background-color: #636A70;
    color: black;
}